_notes
__pycache__/
*.xlsx
*.xls
*.pdf
*.pyc
*~
myvenv
/static
telegram.py
*.log
local_settings.py
./d_post/settings.py
db.sqlite3
db.sqlite3-journal


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/